h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.cards {
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

div.search {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

div.search > div.form {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

div.search > div.form > input {
  width: 250px;
  height: 15px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: rgba(34, 162, 189, 0.2);
  text-align: center;
}

div.search > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 6px;
  background-color: rgba(34, 162, 189, 0.2);
  font-size: 16px;
}
